@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
  font-family: "Delius", cursive;
  background: #f4f4f4;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

button {
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

li.done {
  text-decoration: line-through;
  color: #888;
}

h1 {
    font-size: 20px;
}

.header {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form {
    display: flex; 
    justify-content: space-between;
}


.deleteIcon {
    width: 16px;
    height: 16px;
    transition: transform 0.15s ease;
}
.deleteIcon:active {
    transform: scale(0.9);
}

.tickIcon {
    width: 16px;
    height: 16px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 10px;
}